
*{
  margin: 0;
  padding:0;
}
body{
  overflow-x: hidden;
}


nav{
  background-color: #f6f6f6;
}

.navbar{

  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 24px;
  font-family: monospace;
}

.jquerybrand{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand{
  background-color: white;
}

.nav-item{
  padding-right:8px;
  padding-left:8px;
}
.jquerybrand{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link{
  color:#00a501;

}

.jumbotron{
  background-image: url("tropimute.png");
  background-size: 100% 100%;

}

.container-fluid{
  font-family: monospace;
}


.container-index{
  margin-top:-32px;
  margin-bottom: 0px;
  background-color: #f6f6f6;
  padding-right: 128px;
  padding-left: 128px;

}

.index-card{
  margin-top: 24px;
  margin-bottom: 16px;
  padding-top: 24px;
  padding: 4px;
}
.pTagsForCardTitles{
  margin-top: 16px;
  font-size: 16px;


  font-family: monospace;
}

.pTagsForCards {
  margin: 8px 14px 12px 8px;
  padding: 4px 16px 4px 16px;
  font-size: 16px;
  font-family: monospace;
}



.container-pricing{
  margin-bottom: 16px;
  padding: 16px;
}

/* Media Queries compatible with the Boostrap queries to change alignment of content inside cards in the container in the
index page. */

@media only screen and (max-width: 576px){
  .pTagsForCards{
    font-size: 8px;
  }
  .pTagsForCardTitles{
    font-size: 12px;
  }

  .aboutPageParagraph{
    padding-right: 32px;
    padding-left: 32px;
    margin: 8px;
  }
  .container-index{
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .aboutPageParagraph{
    padding-right: 48px;
    padding-left: 48px;
    margin:16px;
  }
  .container-index{
    padding-right: 48px;
    padding-left: 48px;
  }
  .pTagsForCards{
    text-align: left;
    font-size: 10px;
  }


}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container-index{
    padding-right: 36px;
    padding-left: 36px;
  }
  .pTagsForCards{
    text-align: left;
    font-size: 12px;
  }


}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container-index{
    padding-right: 96px;
    padding-left: 96px;
  }

}
@media only screen and (min-width: 1200px) {
  .pTagsForCards{
    text-align: justify;
  }


}
/* ABOUT PAGE CSS */

.aboutPageParagraph{
  padding-top: 48px;
  padding-bottom: 0px;
  font-family: monospace;
  font-size: 16px;
  color: white;
}

.about-container{
  padding-bottom: 24px;
  background-color: #7fd6c2;
  color: white;
  font-family: monospace;
}

.about-container .card{
  background-color: #7fd6c2;
  color: white;
  font-family: monospace;
}
.about-vimg-div{
  padding-top: 32px;
}


/*CONTACT PAGE FORM CSS*/

.contact-header-div{
  background-color: #7fd6c2;
  color: white;
  font-family: monospace;
}

.contact-container{
  background-color: #7fd6c2;
  font-family: monospace;
  margin-top: 0px;
  font-size: 16px;
  color: white;


}

h1{
  margin-top: 0;
  padding-top: 24px;
}

form{

  padding: 16px 24px 24px 24px;
  background-color: #7fd6c2;;
}

.form-div{
  background-color: #7fd6c2;
  font-family: monospace;
  margin-top: 0px;
  font-size: 16px;
  color: white;
}

.emailFormSection{
  padding-top:8px;
}
.commentFormSection{
  padding-top:8px;
}
.checkFormSection{
  padding-top: 8px;
}
.buttonFormSection{
  padding-top: 8px;
}
