
@font-face {
    font-family: 'quarklight';
    src:  url('quark-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quarkbold';
    src: url('quark-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0;
  padding:0;
}
body{
  overflow-x: hidden;
}

/*NAVBAR CSS*/

.navbar{
  font-size: 1.5rem;
  font-family: 'quarklight';
}

.jquerybrand{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width:576px) {
  .jquerybrand{
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.575rem;

  }
}

@media only screen and (min-width:576px) and (max-width: 768px){
  .jquerybrand{
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.6rem;

  }
}
@media only screen and (min-width:768px) and (max-width:992px){
  .jquerybrand{
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.625rem;
  }
}

/*JUMBOTRON CSS*/

.jumbotron{
  background-image: url("tropimute.png");
  background-size: 100% 100%;
}

@media only screen and (max-width:400px){
  .jumbotron{
    height: 7.625rem;
  }
}

@media only screen and (min-width:400px) and (max-width:576px){
  .jumbotron{
    height: 11rem;
  }
}

@media only screen and (min-width:576px) and (max-width:768px){
  .jumbotron{
    height: 11.5rem;
  }
}
@media only screen and (min-width:768px) and (max-width:992px){
  .jumbotron{
    height: 14rem;
  }
}
@media only screen and (min-width:992px) and (max-width:1200px){
  .jumbotron{
    height: 17.5rem;
  }
}
@media only screen and (min-width:1200px){
  .jumbotron{
    height: 20rem;
  }
}


/*INDEX PAGE CSS*/


.container-index{
  margin-top:-2rem;
  margin-bottom: 0;
}

.index-card{
  padding: 1rem;
  margin: 1rem;
  font-family: "quarklight";
}

.pTagsForCardTitles{
  margin-top: 1rem;
  font-size: 1.250rem;
}

.pTagsForCards {
  text-align: justify;
  font-size: 1rem;
  margin-top: 0.625rem;
}

@media only screen and (max-width: 400px) {
  .index-card{
    border: none;
  }
  .pTagsForCards{
    font-size: 0.775rem;
  }
  .pTagsForCardTitles{
    font-size: 0.850rem;
  }

}

@media only screen and (min-width:400px) and (max-width:576px) {
  .index-card{
    border: none;
  }
  .pTagsForCards{
    font-size: 0.800rem;
  }
  .pTagsForCardTitles{
    font-size: 0.875rem;
  }
}

@media only screen and (min-width:576px) and (max-width:768px) {
  .index-card{
    border: none;
  }
  .pTagsForCards{
    font-size: 0.850rem;
  }
  .pTagsForCardTitles{
    font-size: 0.900rem;
  }
}


/*QUERY FOR MOBILE DESIGN OF CAROUSEL FOR INDEX AND PRICING CONTENT*/

@media only screen and (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;

  }
}


/* PRICING PAGE CSS*/

.container-pagetransition{
  font-family: "quarklight";
}
.container-pricing{
  margin-bottom: 1rem;
}

.pricing-card{
  margin: 1rem;
  font-size: 1rem;
  font-family: "quarklight";

}
.pricing-card-heading{
  margin-top: 0.825rem;
  font-size: 1.600rem;
}
.pricing-card-title{
  font-size: 1.525rem;
}

.pricing-card .card-body ul li::before{
  content: "\2022";
  margin-right: 0.125rem;
  color: #00A501;
  font-weight: bold;
  width: 10em;
}

@media only screen and (max-width:400px){
  .pricing-card{
    font-size: 0.800rem;
    border: none;
  }
  .pricing-card-heading{
    font-size: 1.250rem;
  }
  .pricing-card-title{
    font-size: 1rem;
  }
}
@media only screen and (min-width:400px) and (max-width:576px){
  .pricing-card{
    border: none;
  }
  .pricing-card-heading{
    font-size: 1.500rem;
  }
  .pricing-card-title{
    font-size: 1.250rem;
  }
}
@media only screen and (min-width:576px) and (max-width:768px){
  .pricing-card{
    border:none;
  }
  .pricing-card-heading{
    font-size: 1.575rem;
  }
  .pricing-card-title{
    font-size: 1.350rem;
  }
}


/* ABOUT PAGE CSS */



/*CONTACT PAGE FORM CSS*/

.contact-header-div{
  background-color: #7fd6c2;
  color: white;
  font-family: 'quarkbold';
}

.contact-container{
  background-color: #7fd6c2;
  font-family: 'quarkbold';
  margin-top: 0px;
  font-size: 16px;
  color: white;


}

form{

  padding: 16px 24px 24px 24px;
  background-color: #7fd6c2;;
}

.form-div{
  background-color: #7fd6c2;
  font-family: 'quarkbold';
  margin-top: 0px;
  font-size: 16px;
  color: white;
}

.emailFormSection{
  padding-top:8px;
}
.commentFormSection{
  padding-top:8px;
}
.checkFormSection{
  padding-top: 8px;
}
.buttonFormSection{
  padding-top: 8px;
}
