
@font-face {
    font-family: 'quarklight';
    src:  url('quark-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quarkbold';
    src: url('quark-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  margin: 0;
  padding:0;
}
body{
  overflow-x: hidden;
}


nav{

}

.navbar{

  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 24px;
  font-family: 'quarkbold';
}

.jquerybrand{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand{

}

.nav-item{
  padding-right:8px;
  padding-left:8px;
}
.jquerybrand{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link{
  font-family: "quarklight";

}

.jumbotron{

  background-image: url("tropimute.png");
  background-size: 100% 100%;

}

.container-fluid{
  font-family: 'quarklight';
}


.container-index{
  margin-top:-32px;
  margin-bottom: 0px;


}

.index-card{
  padding-left:1.25rem;
  padding-right:1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin: 1rem;
}

.pTagsForCardTitles{
  margin-top: 16px;
  font-size: 1.25rem;
  font-family: 'quarklight';
}

.pTagsForCards {
  margin: 8px 14px 12px 8px;
  padding: 4px 16px 4px 16px;
  font-size: 0.9375rem;
  font-family: 'quarklight';
}



.container-pricing{
  margin-bottom: 16px;
  padding: 16px;
}

/*QUERY FOR MOBILE DESIGN OF CAROUSEL FOR INDEX CONTENT*/

@media only screen and (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;

  }
}

/* Media Queries compatible with the Boostrap queries to change alignment of content inside cards in the container in the
index page. */

@media only screen and (max-width: 576px){
  .pTagsForCards{

  }
  .pTagsForCardTitles{

  }

  .aboutPageParagraph{
    padding-right: 32px;
    padding-left: 32px;
    margin: 8px;
  }

  .jumbotron{
    height: 10rem;
  }
  .jquerybrand{
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.625rem;

  }

}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .aboutPageParagraph{
    padding-right: 48px;
    padding-left: 48px;
    margin:16px;
  }

  .pTagsForCards{
    text-align: left;

  }
  .jumbotron{
    height: 10rem;
  }
  .jquerybrand{
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.6rem;

  }


}
@media only screen and (min-width: 768px) and (max-width: 992px) {

  .pTagsForCards{
    text-align: left;

  }
  .jumbotron{
    height: 14rem;
  }
  .jquerybrand{
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.6rem;
  }


}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container-index{

  }
  .jumbotron{
    height: 18.5rem;
  }

}
@media only screen and (min-width: 1200px) {
  .pTagsForCards{
    text-align: justify;
  }
  .jumbotron{
    height: 21.2rem;
  }



}
/* PRICING PAGE CSS*/

.container-pagetransition{
  font-family: quarklight;
}
.header-pricing-line{


}
.pricing-card{
  padding-left:1.25rem;
  padding-right:1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin: 1rem;
  font-family: quarklight;
  font-size: 1rem;
}

.card-body ul li::before{
  content: "\2022";
  margin-right: 0.125rem;
  color: #00A501;
  font-weight: bold;
  width: 10em;
}
.card h4{
  margin-top: 2rem;
}


/* ABOUT PAGE CSS */

.aboutPageParagraph{
  padding-top: 48px;
  padding-bottom: 0px;
  font-family: 'quarkbold';
  font-size: 16px;
  color: white;
}

.about-container{
  padding-bottom: 24px;
  background-color: #7fd6c2;
  color: white;
  font-family: 'quarkbold';
}

.about-container .card{
  background-color: #7fd6c2;
  color: white;
  font-family: 'quarkbold';
}
.about-vimg-div{
  padding-top: 32px;
}


/*CONTACT PAGE FORM CSS*/

.contact-header-div{
  background-color: #7fd6c2;
  color: white;
  font-family: 'quarkbold';
}

.contact-container{
  background-color: #7fd6c2;
  font-family: 'quarkbold';
  margin-top: 0px;
  font-size: 16px;
  color: white;


}

h1{

}

form{

  padding: 16px 24px 24px 24px;
  background-color: #7fd6c2;;
}

.form-div{
  background-color: #7fd6c2;
  font-family: 'quarkbold';
  margin-top: 0px;
  font-size: 16px;
  color: white;
}

.emailFormSection{
  padding-top:8px;
}
.commentFormSection{
  padding-top:8px;
}
.checkFormSection{
  padding-top: 8px;
}
.buttonFormSection{
  padding-top: 8px;
}
